<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div>
    <table style="width:80%">
        <tr>
            <th>Event Name</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Numer</th>
            <th>Date</th>
            <th>Availability</th>
            <th>Event Owner</th>
            <th>Waiting List</th>
        </tr>
        <tr>
            <td th:text="*{event.name}">event name</td>
            <td th:text="*{event.eventAddress.city}">event address</td>
            <td th:text="*{event.eventAddress.street}">event address</td>
            <td th:text="*{event.eventAddress.number}">event address</td>
            <td th:text="*{event.eventDate}">event date</td>
            <td th:text="*{event.accessType}">event access type</td>
            <td th:text="*{event.eventOwner}">event owner</td>
            <td> <a th:href="@{'/waitinglist/'+ ${event.uuid}}"> Users </a></td>

        </tr>

    </table>
</div>

</body>
</html>