<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Event Form</title>
</head>
<body>

<form method="post" th:action="@{/add/event}" th:object="${eventForm}">

    <label> Nazwa wydarzenia: </label>
    <input type="text" th:field="*{name}"><br>

    <label> Data i godzina wydarzenia: </label>
    <input type="datetime-local" th:field="*{eventDate}"><br>

    <label> Typ wydarzenia: </label>
    <select th:field="*{accessType}">
        <option th:value="PUBLIC"> Publiczne</option>
        <option th:value="PRIVATE"> Prywatne</option>
    </select><br>

    <label> Adres wydarzenia</label><br>
    <label> Miasto: </label>
    <input type="text" th:field="*{eventAddress.city}"><br>
    <label> Ulica: </label>
    <input type="text" th:field="*{eventAddress.street}"><br>
    <label> Numer: </label>
    <input type="text" th:field="*{eventAddress.number}"><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>